@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "DM Sans";
}
/* 
body::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(5, 82, 108);
}

body::-webkit-scrollbar-thumb {
    background-color: white;
} */

#add_job_form::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(5, 82, 108);
}

#add_job_form::-webkit-scrollbar-thumb {
    background-color: white;
}
#edit_job_form::-webkit-scrollbar {
    width: 5px;
    background-color: rgb(5, 82, 108);
}

#edit_job_form::-webkit-scrollbar-thumb {
    background-color: white;
}